/* General Styles */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Grid for Book Cards */
.grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 5px;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

/* Button Group */
.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button, .deleteButton {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  margin: 4px;
}

.button {
  background-color: #007bff;
  color: white;
}

.button:hover {
  background-color: #0056b3;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
}

.deleteButton:hover {
  background-color: #a71d2a;
}

.navLink {
  text-decoration: none;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.paginationButton {
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color:blue;
  cursor: pointer;
  color: #ffffff;
}

.paginationButton:disabled {
  background-color: blue;
  cursor: not-allowed;
  color: #ffffff;
}

/* Responsive Design */

/* Small Screens (Phones) */
@media (max-width: 767px) {
  h1 {
    font-size: 1.8rem;
  }

  .card {
    padding: 12px;
    width: 140px;
    height: 300px;
  }

  .button, .deleteButton {
    font-size: 0.8rem;
    padding: 6px 10px;
  }

  .pagination span {
    font-size: 0.9rem;
  }

  .grid{
    grid-template-columns: repeat(3,1fr);
  }
}

/* Medium Screens (Tablets) */
@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .card {
    padding: 14px;
    width: 200;
    height: 300px;
  }

  .grid {
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
  }
}

/* Large Screens (Desktops) */
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  .card{
    width: 200;
    height: 300px;
  }

}
